* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.apollo-one {
  text-align: center;
}

.apollo-one h2 {
  font-size: 24px;
  color: #e40a0a;
  margin-bottom: 15px;
}
.apollo-one h2:hover {
  font-size: 24px;
  color: #31db06;
  margin-bottom: 15px;
}
.apollo-one h2 {
  animation: slideIn 1s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.apollo-one p {
  font-size: 16px;
  color: #0a0a0a;
  line-height: 1.6;
}
.apollo-one img:hover,
.apollo-one img:active {
  transform: scale(1.1) rotate(0.5deg);
}
span {
  color: blue;
  background-color: green;
  border-radius: 10px;
}
span:hover {
  color: #0a0a0a;
  background-color: antiquewhite;
}
.apollo-one img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
/*  nested  */
@media screen and (max-width: 600px) {
  .apollo-one h2 {
    font-size: 20px;
  }

  .apollo-one p {
    margin: 10px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
