body {
  font-family: Arial, sans-serif;
  font-family: monospace;
}

span {
  color: rgb(7, 6, 7);
}

.pone {
  color: black;
  background-color: rgb(240, 227, 227);
  max-width: 500px;
}

.hist-calculator {
  margin: 20px auto;
  background-color: rgb(46, 45, 44);
  padding: 20px;
  color: aliceblue;
  border: 2px solid #db9fcc;
  border-radius: 20px;
}

a:hover {
  color: #0c0c0c;
}

.development {
  margin: 20px auto;
  padding: 15px;
  background-color: rgb(11, 114, 114);
  color: rgb(209, 207, 207);
  border: 2px solid #464242;
  border-radius: 20px;
}
a {
  color: #2d45ad;
}
h3 {
  text-align: center;
}

.hist-calculator h3 {
  color: #ee5151;
}

.development h3 {
  color: #b17c7c;
}

.hist-calculator p,
.development p {
  line-height: 1.6;
}

.hist-calculator img,
.development img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.hist-calculator p:nth-of-type(2),
.development p:nth-of-type(2) {
  font-style: italic;
}

.hist-calculator p:nth-of-type(3),
.development p:nth-of-type(3) {
  font-weight: bold;
}
p a img {
  max-width: 50%;
}
img {
  margin: 20px;
  border: 5px solid green;
  border-radius: 20px;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #d6dbe0;
}
.all-container {
  width: 100%;

  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}
.container {
  max-width: 98%;
  border-radius: 10px;
  margin: 5px auto;
  padding: 0px;
  background-color: #bebcbc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  text-align: center;
}

h2 {
  color: #ce2020;
}

h3 {
  color: #0b8eda;
}

hr {
  border: 0;
  height: 1px;
  background: #aa1212;
  margin: 20px 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #333;
  font-family: sans-serif, "Times New Roman", Times, serif;
}
.image-container {
  position: relative;
  /* display: inline-block; */
  float: left;
}
.image-container:hover {
  color: #2e56c2;
  background-color: #2e56c2;
}
.image-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(7, 7, 7, 0.5);
  padding: 10px;
  border-radius: 5px;
}
img {
  float: left;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(8, 71, 58, 0.1);
  transition: transform 0.3s ease-in-out;
  border: 2px solid #d10a0a;
  margin: 30px;
}
img:hover {
  transform: rotate(360deg);
  color: deeppink;
  background-origin: rgb(53, 16, 155);
}
a {
  color: #0b81cf;
  text-decoration: none;
  text-align: center;
}
.btn {
  background-color: #0b0c0c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: #0c0c0c; /* Button background color on hover */
  color: #fff; /* Button text color on hover */
}

abbr {
  text-align: center;
  border-bottom: none;
  cursor: help;
}
a:hover {
  text-decoration: underline;
  color: #2e56c2;
}

/* Add some spacing between elements */
.container > * {
  margin-bottom: 20px;
}
#submission-date {
  color: #888;
  font-style: italic;
  text-align: center;
}
