* {
  margin: 0px;
  padding: 0px;
  font-family: "poppins" serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 90vh;
  background: #464747;
  display: flex;
  background-image: url(maths.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  background-color: rgb(123, 129, 123);
  cursor: pointer;
  color: antiquewhite;
}

.calculator {
  background-color: rgb(25, 26, 25);
  padding: 20px;
  border-radius: 10px;
}

.calculator form input {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  outline: 0;
  border: 0;
  box-shadow: -8px -8px 15px rgb(0, 23, 224), 5px 5px 15px rgb(2, 240, 2);
  margin: 10px;
  background: transparent;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

form .display {
  margin: 20px 0;
  justify-content: flex-end;
  display: flex;
}

form .display input {
  text-align: right;
  flex: 1;
  box-shadow: none;
  font-size: 45px;
  background-color: black;
}

form input.equal {
  width: 145px;
}

h4 {
  text-align: center;
  font-weight: bold;
  color: #999ca3fa;
}

form h4 .amare {
  color: whitesmoke;
  cursor: pointer;
}

form h4 .amare:hover {
  color: hsl(236, 95%, 46%);
}

form input.operator {
  color: #3f8ffd;
  background-color: #fff;
  font-size: 30px;
}

form input.operatora {
  color: #e40303;
  background-color: #fff;
  font-size: 20px;
}

form input.operatoring {
  color: #010205fa;
  background-color: #fff;
  font-size: 25px;
}

form input.operator:hover {
  color: #050405;
}

form input.operatora:hover {
  color: #040505dc;
}

form input.operatoring:hover {
  color: #db0505;
}

.span-cal {
  color: #fff;
  font-weight: bold;
}

form input.operat:hover {
  color: #eb0707fa;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  text-decoration: none;
}

footer a:hover {
  color: #0a0c0a;
  background-color: #3f8ffd;
}

footer a {
  color: #07549c;
  text-decoration: none;
  cursor: pointer;
  text-align: 2.5em;
  font-weight: bold;
  font-size: 1.5em;
  margin: 2px;
}